html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  height: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

section {
  background-color: #2f343a;
  padding-top: 160px;
}

.decor-block {
  background: #393f47;
}

.services__decor {
  position: absolute;
  width: 755px;
  height: 561px;
}

.services__decor--left {
  top: 0;
  left: 0;
}

.services__decor--right {
  top: 0;
  right: 0;
}

.header__contact {
  background-color: #c8a35f;
  padding: 16px 0;
}

.contact-list {
  display: flex;
  justify-content: space-between;
}

.contact-list__link {
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
}

.languages__link {
  opacity: 0.5;
}

.languages__link--active {
  opacity: 1;
}

.nav {
  padding: 27px 0;
  background-color: #2f343a;
}

.nav_container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  fill: #ffffff;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.logo:hover, .logo:focus {
  fill: #c8a35f;
}

.logo::after {
  content: '';
  display: block;
  height: 46px;
  width: 1px;
  margin-left: 30px;
  background-color: #ffffff;
}

.office-link {
  display: flex;
  align-items: center;
  margin-left: 65px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #ffffff;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.office-link:hover, .office-link:focus {
  color: #c8a35f;
}

.office-link__icon {
  margin-right: 10px;
}

.menu {
  display: flex;
  margin-left: auto;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  position: relative;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  color: #ffffff;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.menu__link:hover, .menu__link:focus {
  color: #c8a35f;
}

.menu__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #c8a35f;
  cursor: pointer;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover::after, .menu__link:focus::after {
  transform: scaleX(1);
  opacity: 1;
}

.hero {
  background-image: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url(../images/deckstope/first-screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  height: 620px;
  padding-top: 155px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url(../images/deckstope/first-screen@2x.jpg);
  }
}

.hero__text {
  width: 920px;
  display: block;
  margin: 0 auto;
  padding: 45px 70px;
  border: 1px solid #c8a35f;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__descr {
  margin-top: 45px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.hero__mouse {
  margin-top: 140px;
}

.services {
  position: relative;
}
/*# sourceMappingURL=main.css.map */